.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.plot {
  width: 48%;
  display: inline-block;
  margin: 10px;
}

.gallery {
  display: inline-block;
}

.slider {
  margin: auto;
  width: 400px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    top: 20px;
    color: #f2f2f2;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal;
}
